.jumbotron{
  background-color: #ADD8E6;
}

body{
  background-color: #ADD8E6;
}

table{
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

#results{
  display: none;
}

.invalid-feedback{
  display: none;
  font-weight: bold;
}
